@charset "UTF-8";
 /*pay&delivery*/
 .pay_delivery{width:1200px;height:auto;overflow:hidden;padding:8px 0;}
 .pay_delivery table{width:1200px;margin:0 auto;}
 .pay_delivery table th{line-height:35px;font-weight:bold;border-bottom:1px #dddddd dotted;font-size:14px;}
 .pay_delivery table tr{line-height:35px;}
 .pay_delivery ul{overflow:hidden;margin-top:15px;}
 .pay_delivery li{width:142px;height:35px; float:left;line-height:35px;}
 .pay_delivery li .alipay{background:url(../images/bank.png) no-repeat;width:90px;height:25px;display:inline-block;border:1px #dddddd solid;}
 .pay_delivery li input{ vertical-align: super;margin:0 10px;}
 

/*order information foodslist*/
 .inforlist{width:1200px;height:auto;overflow:hidden;padding:8px 0;}
 .inforlist table{width:1200px;border-bottom:1px #dddddd solid;}
 .inforlist table th{line-height:35px;font-weight:bold;border-bottom:1px #dddddd dotted;font-size:14px;padding:0 8px;background:#f7f7f7;}
 .inforlist table tr{line-height:35px;border-bottom:1px #dddddd solid;}
 .inforlist table td{padding:0 8px;}
 .inforlist table tr:hover{line-height:35px;border-bottom:1px #dddddd solid;background:#f1f1f1;}
 .inforlist .Sum_infor{float:right; margin-top:15px;}
 .inforlist .Sum_infor .p1{font-size:14px;font-weight:bold;}
 .inforlist .Sum_infor .p2{font-size:14px;font-weight:bold;}
 .inforlist .Sum_infor .p2 span{font-size:24px;font-weight:bold; color:#F00;}
 .inforlist .Sum_infor .p3button{cursor: pointer;font-size:14px;font-weight:bold;width:120px;height:45px;line-height:45px;background:#ff0000;display:block;text-align:center;color:#fff; border-radius:5px; margin-top:15px;float:right;}
 /*order message*/
 .Order_M{float:left; margin-top:15px;height:auto;overflow:hidden;}
 .Order_M p{line-height:35px;text-align:right;}
 .Order_M p em{font-weight:bold;width:120px;text-align:right;margin-right:10px;}
 .Order_M p input{width:600px;border:1px #dddddd solid;padding:5px 8px;}
.flow_title{font-size:16px;border-top:2px #cccccc solid;background:#f1f1f1;display:block;font-weight:bold;height:35px;line-height:35px;padding-left:8px;}
.time{
	font-size: 10px;
	float: right;
}
